/* -------------------------------------------------------------------------- */
/*                                   Colors                                   */
/* -------------------------------------------------------------------------- */
$purple: #100033;
$white: #F9F9F9;
$grey: #9D9DA6;
$pink: #FFE7DF;

/* -------------------------------------------------------------------------- */
/*                                Font Weights                                */
/* -------------------------------------------------------------------------- */
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;
$normal-weight:   400;
$medium-weight:   500;
$semibold-weight: 600;
$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

/* -------------------------------------------------------------------------- */
/*                                 Breakpoint                                 */
/* -------------------------------------------------------------------------- */
$bp-portrait: 480;
$bp-landscape: 768;
$bp-tablet: 970;
$bp-laptop: 1280;
$bp-desktop: 1420;
$bp-desktop-large: 1800;

/* -------------------------------------------------------------------------- */
/*                              Transition Speeds                             */
/* -------------------------------------------------------------------------- */
$s-fast: 125ms;
$s-medium: 325ms;

/* -------------------------------------------------------------------------- */
/*                                 Transitions                                */
/* -------------------------------------------------------------------------- */
$cubic: cubic-bezier(0.165, 0.84, 0.44, 1);