.m-footer {
    background-color: $purple;
    min-height: 20vh;
    position: relative;
    z-index: 2;

    p {
        margin: 0;
        padding-top: 50px;
        font-size: 30px;
        text-align: center;
        color: $white;
    }
}