.p-register {
    width: 100%;
    padding: 50px 30px;
    min-height: 80vh;
    position: relative;
    z-index: 1;

    .interest-info {
        background-color: $purple;
        color: $white;
        border-radius: 50%;
        padding: 2px 11px;
        margin-left: 10px;
        transition: opacity 200ms ease-in-out;

        &::before {
            content: '';
            border-style: solid;
            border-width: 15px 24px 15px 0;
            border-color: transparent $purple transparent transparent;
            position: absolute;
            transform: translate(20px, -5px);
            opacity: 0;
            pointer-events: none;
            transition: opacity 200ms ease-in-out;

            @media (max-width: 600px) {
                border-width: 24px 15px 0 15px;
                border-color: $purple transparent transparent transparent;
                transform: translate(-10px, -28.5px);
            }
        }

        &::after {
            content: 'Use space or enter after each tag to place it. If you want to add a tag with multiple words, use a dash (-) to separate them.';
            font-size: 15px;
            width: 240px;
            height: 70px;
            padding: 20px;
            border-radius: 6px;
            background-color: $purple;
            position: absolute;
            transform: translate(39px, -40px);
            opacity: 0;
            pointer-events: none;
            transition: opacity 200ms ease-in-out;

            @media (max-width: 600px) {
                transform: translate(-135px, -138px);
            }
        }

        &:hover {
            opacity: .85;

            &::after {
                opacity: 1;
                pointer-events: inherit;
            }

            &::before {
                opacity: 1;
                pointer-events: inherit;
            }
        }
    }

    .tag-button {
        font-family: 'Montserrat';
        font-weight: lighter;
        margin-top: 30px;
        width: 120px;
        height: 50px;
        border-radius: 6px;
        color: $white;
        background-color: $purple;
        border: 3px solid $purple;
        transition: all 200ms ease-in-out;
        text-align: center;
        padding-top: 10px;

        &:hover {
            background-color: $white;
            color: $purple;
            cursor: pointer;
        }

        @media (min-width: 750px) {
            display: none;
        }
    }
}