<!--       FILTER OPTION         -->
<section class="filter">
    <div class="filterContainer">
        <!-- <button id="filterButton">Open filter options</button> -->
        <article>
            <form class="m-form" action=/search method="post">
                    <legend>Search</legend>
                    <label for="activity">What activities are you looking for?</label>
                    <input type="text" id="activity" name="activity" placeholder="Sports, Games, Movies etc..">
                    <button>Search</button>
            </form>
        </article>
    </div>
</section>