<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Friendship</title>
    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/styles/main-screen.css">


    <!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon">


    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial scale=1.0">


</head>