<header>

    <nav>
        <a href="/"><img src="images/Friendship_logo-full-RGB-large.png" alt="Logo Friendship"></a>
        <div class="nav-button">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div class="nav-mobile">
            <ul>
                <li><a href="/">
                        Home
                    </a></li>
                <li><a href="/profile">
                        My profile
                    </a></li>
                <li><a href="/matches">
                        Matches
                    </a></li>
                <li><a href="/about">
                        About Friendship
                    </a></li>
                <li><a href="/search" class="filterButton">
                        Search
                    </a></li>
                <% if (locals.user) { %>
                <li><a href="/logout" class="registerButton">
                        Log out
                    </a></li>
                <% } else { %>
                <li><a href="/login" class="registerButton">
                        Log in
                    </a></li>
                <% } %>
            </ul>
        </div>

        <div class="nav-desktop">
            <ul>
                <li><a href="/">
                        Home
                    </a></li>
                <li><a href="/profile">
                        My profile
                    </a></li>
                <li><a href="/matches">
                        Matches
                    </a></li>
                <li><a href="/about">
                        About Friendship
                    </a></li>
                <li><a href="/search" class="filterButton">
                        Search
                    </a></li>
                <% if (locals.user) { %>
                <li><a href="/logout" class="registerButton">
                        Log out
                    </a></li>
                <% } else { %>
                <li><a href="/login" class="registerButton">
                        Log in
                    </a></li>
                <% } %>
            </ul>
        </div>
    </nav>

</header>