<div class="m-users">
    <% if (activity === '') { %>
    <h2>Please fill in a query to search for users.</h2>
    <% } else { %>
    <h2>There are no users that are interested in <%= activity %>.</h2>
    <% } %>
    <img src="images/no-result.jpg" alt="no results">
</div>