<div class="m-users">
  <h2>Users</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis blanditiis similique vero ab. Sunt quae rerum
    nobis, nostrum at magnam dolorum architecto error ipsam maxime, quam beatae ut repellendus suscipit.</p>
  <div class="user-container">
    <% for (let i = 0; i < data.length; i++) { %>
    <a href="/<%= data[i].profileId %>">
      <div class="user">
        <div class="user__image"
          style="background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.35)), url(<%= data[i].avatar %>)">
        </div>
        <h4>
          <%= data[i].firstname %>
        </h4>
        <p>
          <%= data[i].location %>
        </p>
      </div>
    </a>
    <% } %>
  </div>
</div>

<div class="m-category">
  <div class="m-category__info">
    <div class="m-category__info__container">
      <h3 class="m-category__title">Sports</h3>
      <img class="m-category__icon" src="images/cloud-sun.svg" alt="">
      <span class="m-category__weather-message">Currently 21 degrees</span>
      <h2 class="m-category__weather-message-2">The weather is great!</h2>
      <p class="m-category__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae atque expedita
        blanditiis earum assumenda. At,
        amet
        cumque porro sequi quidem qui reprehenderit quibusdam quos doloribus deserunt provident atque hic facilis.</p>
    </div>
  </div>
  <div class="m-category__image" style="background-image: url(/images/comics.jpg);">
  </div>
</div>