<%- include('partials/shared/html-open.ejs'); %>
<%- include('partials/globals/header.ejs'); %>

<main>
  <div class="p-404">
    
    <h1>404</h1>
    <h2>Page not found</h2>
    <img src="/images/404.jpg" alt="">

  </div>
</main>

<%- include('partials/globals/footer.ejs'); %>
<%- include('partials/shared/html-close.ejs'); %>