<%- include('includes/head.ejs'); %>

<body>
    <%- include('includes/header.ejs'); %>
    <main>
        <div class="p-login">
            <div class="p-login__banner">
                <h1>The first app that is designed to make new friendships</h1>
                <a href="/register">
                    <button>Register</button>
                </a>
            </div>
            <%- include('includes/login-user.ejs'); %>
        </div>
    </main>
    <footer>

    </footer>
    <%- include('includes/scripts.ejs'); %>
</body>