<footer class="m-footer">
    <h3>Friendship</h3>
    <p>We have created this website for 'Project Tech'. The goal was to make a fully functional datingwebsite using
        NodeJS.</p>
    <p>See the full GitHub repository <a href="https://github.com/BVictorB/friendship" target="_blank">here</a>.</p>
    <div class="m-footer__creators">
        <div class="m-footer__creators__item">
            <div class="m-footer__creators__item__image"></div>
            <div class="m-footer__creators__item__name">Victor Boucher</div>
            <div class="m-footer__creators__item__links">
                <a href="https://github.com/BVictorB" target="_blank"><img src="/images/github.png" alt=""></a>
                <a href="https://www.linkedin.com/in/victor-boucher-18267813b/" target="_blank"><img
                        src="/images/linkedin.png" alt=""></a>
            </div>
        </div>
        <div class="m-footer__creators__item">
            <div class="m-footer__creators__item__image"></div>
            <div class="m-footer__creators__item__name">Bjorn Kouw</div>
            <div class="m-footer__creators__item__links">
                <a href="https://github.com/Bjornborgie" target="_blank"><img src="/images/github.png" alt=""></a>
                <a href="https://www.linkedin.com/mwlite/in/bjorn-kouw-b34516154" target="_blank"><img src="/images/linkedin.png" alt=""></a>
            </div>
        </div>
        <div class="m-footer__creators__item">
            <div class="m-footer__creators__item__image"></div>
            <div class="m-footer__creators__item__name">Nathan Neelis</div>
            <div class="m-footer__creators__item__links">
                <a href="https://github.com/NathanNeelis" target="_blank"><img src="/images/github.png" alt=""></a>
                <a href="https://www.linkedin.com/in/nathan-neelis-83219236/" target="_blank"><img src="/images/linkedin.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>