    <!-- scripts -->
    <script src="/js/loginValidate.js"></script>
    <script src="/js/signupValidate.js"></script>
    <script src="/js/navMenu.js"></script>
    <script src="/js/editProfile.js"></script>
    <script src="/js/weather.js"></script>

    </body>

    </html>